pipeline/copy_getmetadata_filter_foreach.json
{
	"name": "copy_getmetadata_filter_foreach",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata Folder",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_dls_csv",
						"type": "DatasetReference",
						"parameters": {
							"container": "files",
							"path": {
								"value": "@toLower('')",
								"type": "Expression"
							},
							"file": {
								"value": "@toLower('')",
								"type": "Expression"
							},
							"delimiter": {
								"value": "@toLower('')",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter TXT",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata Folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata Folder').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, '.txt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach Parquet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter TXT",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter TXT').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "txt_to_parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_dls_csv_s_directory",
									"type": "DatasetReference",
									"parameters": {
										"container": "files",
										"file": {
											"value": "@item().name",
											"type": "Expression"
										},
										"delimiter": ";"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_dls_parquet",
									"type": "DatasetReference",
									"parameters": {
										"container": "trusted",
										"file": {
											"value": "@replace(item().name,'.txt','.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Pipelines_Activities"
		},
		"annotations": []
	}
}